body{
  background-color: #f3f4f6;
  font-family: 'Urbanist', sans-serif;
  
}

.loading-circle {
  width: 50px;
  height: 50px;
  margin-top: 25%;
  margin-left: 45%;
  border: 5px solid rgba(0, 0, 0, 0.1); 
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.Error img{
  margin-top: 10%;
  margin-left: 30%;
  width: 600px;
  height: 400px;
}
