
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li:nth-child(1) {
  display: flex;
  color: white;
  padding-top: 3%;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

nav ul li:nth-child(2) {
  display: flex;
  color: white;
  padding-top: 3%;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

nav ul li:nth-child(3){
  padding-top: 2.5%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

nav ul li:nth-child(4) {
  display: flex;
  color: white;
  padding-top: 3%;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

nav ul li span {
  font-size: large;
  font-weight: 600;
  letter-spacing: -0.5px;
}

nav ul button {
  height: 40px;
  width: 100px;
  border: none;
  margin-top: 2%;
  color: #052e16;
  font-family: "Roboto Condensed", sans-serif;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: -0.5px;
  border-radius: 5px;
  background: rgb(242, 48, 177);
}